# Visual Studio files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build files
[Dd]ebug/
[Rr]elease/
**/bin/
**/obj/

# Packages
**/packages/
node_modules/
npm-debug.log
.DS_Store


appsettings.json
appsettings.Development.json
appsettings.Production.json 

.secrets/

# Visual Studio Code
.vscode/
